.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Ignore all terraform infrastructure and state files!
# We want the Docker image to only contain the Python app.
*.tf
*.tfvars
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
plan.json
tfplan
*.tmp

# Ignore logs
drift_guard_debug.log
